{% extends 'base.html' %}

{% block content %}
<div>
    <h1>My Projects</h1>
    <p>
        <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
    {% if list_projects.all|length == 0 %}
    <p>You are not assigned to any projects</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for items in list_projects.all %}
            <tr>
                <td> <a href="{% url 'show_project' items.id %}">{{items.name}}</a></td>
                <td>{{ items.tasks.count }}</td>
            </tr>
            {% endfor %}

        </tbody>


    </table>
    {% endif %}
</div>

{% endblock content %}